<%= styled_flash %>

<ul>
  <% @links.each do |link| %>
    <li><a href="<%= link.url %>"><%= link.title %></a></li>
  <% end %>
</ul>

<form action="add-link">
  <button type="submit">Add Link</button>
</form>
